<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="width=device-width, initial-scale=1.0" name="viewport">
    <title>TravelLog - Home</title>
    <link rel="stylesheet" type="text/css" href="oma.css">
</head>

<body>
    <div class="container">
        <h1>TravelLog - Where Every Route Is a Story</h1>
        <br>
        <table>
            <tr>
                <th>
                    <h3>Login here: </h3>
                    <div class="button" id="button-3">
                        <div id="circle"></div>
                        <a th:href="@{/login}">Login</a>
                    </div>
                </th>
                <th>
                    <h3>Don't have an account yet?</h3>
                    <div class="button" id="button-3">
                        <div id="circle"></div>
                        <a th:href="@{/register}">Register</a>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</body>

</html>