<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="width=device-width, initial-scale=1.0" name="viewport">
    <title>TravelLog - Login</title>
    <link rel="stylesheet" type="text/css" href="oma.css">
</head>

<body>
    <h1>Please fill your credentials</h1>
    <div th:if="${param.error}">
        Invalid username and/or password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label>Username: <input type="text" name="username" /></label></div>
        <div><label>Password: <input type="password" name="password" /></label></div>
        <div><input type="submit" value="Log in" /></div>
    </form>
</body>

</html>